<div class="pokedex__container">
  <div class="poke-title shine-hover">
    <img src="/assets/Pokémon_logo.png" alt="Logo" />
    <span> <img src="/assets/icons/Spark.svg" alt="asd" /></span>
  </div>
  <div class="pokedex">
    <div class="pokedex__audio">
      <div class="pokedex__audio-holes">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="pokedex__screen">
      <div class="pokedex__screen--sides">
        <div class="pokedex__screen--center">
          <div class="pokedex__screen--main">
            <div ngClass="" class="my-pokemons">
              <div class="header">
                <div>
                  <h3>SINNOH POKéDEX</h3>
                  <span></span>
                  <span></span>
                </div>
                <div></div>
              </div>
              <div class="main">
                <div class="pokemon__container">
                  <div class="pokemon">
                    <img
                      [src]="myPokemons[3].sprites?.front_default"
                      [alt]="myPokemons[3].name"
                    />
                  </div>
                </div>
                <div class="pokemon__list">
                  <div *ngFor="let pokemon of myPokemons" class="pokemon__name">
                    {{ pokemon.id }} {{ pokemon.name }}
                  </div>
                </div>
              </div>
              <div class="footer">
                <div>
                  <span></span>
                  <span></span>
                </div>
                <div></div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
        <span></span>
      </div>
    </div>
    <div class="pokedex__hinge">
      <div></div>
      <div></div>
      <div></div>
      <span></span>
    </div>
    <div class="pokedex__tactil">
      <div class="pokedex__tactil-container">
        <span></span>
        <span></span>
        <div class="pokedex__tactil-arrows">
          <div class="pokedex__tactil-arrows-dpad">
            <div (click)="rotatePokeballUp()"></div>
            <div></div>
            <div></div>
            <div></div>
            <div (click)="rotatePokeballDown()"></div>
          </div>
        </div>
        <div class="pokedex__tactil-screen-border">
          <div class="pokedex__tactil-screen">
            <div class="pokedex__tactil-square">
              <div class="pokedex__tactil-square--inner"></div>
            </div>
            <div class="pokedex__tactil-buttons">
              <div class="green-buttons">
                <div>
                  <p>
                    Search <br />
                    Pokemon
                  </p>
                  <img src="/assets/icons/glass.PNG" alt="Magni.Glass" />
                </div>
                <div>
                  <p>
                    Check <br />
                    Pokedex
                  </p>
                  <img src="/assets/icons/book.PNG" alt="Magni.Glass" />
                </div>
              </div>
              <div class="big-pokeball" [style]="pokeballRotateDeg">
                <img
                  src="/assets/icons/pokeball-icon-color.svg"
                  alt="pokeball"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pokedex__side">
      <div class="pokedex__scan">
        <div class="pokedex__scan-inner">
          <div (click)="restartPokemons()" class="pokedex__scan-button"></div>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>
