.pokedex__container {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

.poke-title {
  display: flex;
  align-self: flex-end;
  mask-image: url(/assets/Pokémon_logo.png);
  mask-size: 269px 99px;
  margin-top: 1rem;
  margin-left: 12rem;
}

.poke-title > img {
  align-self: flex-end;
  mask-image: url(/assets/Pokémon_logo.png);
  mask-size: 269px 99px;
}

.pokedex {
  /* width: 50vw; */
  min-height: 630px;
  min-width: 725px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "audio screen"
    ". hinge"
    "tactil tactil";
  position: relative;
  filter: drop-shadow(2px 4px 8px black);
}

.pokedex:hover {
  filter: drop-shadow(2px 4px 10px black);
}

/* audio */

.pokedex__audio {
  grid-area: audio;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    var(--red) 0%,
    var(--red) 64%,
    #e07973 99%
  );
  width: 160px;
  margin: 4rem 0 4rem 3rem;
  border-radius: 200px 0 0 200px;
  border: 3px solid var(--black);
  border-right: 0;
  margin-right: -3px;
  z-index: 10;
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.726);
}

.pokedex__audio-holes {
  position: relative;
  margin-left: 1rem;
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
}

.pokedex__audio-holes span {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--black);
  border-radius: 50%;
  box-shadow: inset -1px 0px 2px 0 rgba(255, 255, 255, 0.823),
    inset 1px 0px 2px 0 rgba(0, 0, 0, 0.5);
}

.pokedex__audio-holes span:nth-child(1) {
  top: 0;
  left: 0;
}

.pokedex__audio-holes span:nth-child(2) {
  top: 0;
  right: 0;
}

.pokedex__audio-holes span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.pokedex__audio-holes span:nth-child(4) {
  bottom: 0;
  right: 0;
}

/* screen */

.pokedex__screen {
  grid-area: screen;
  height: 100%;
  width: 520px;
  padding: 3rem 1.4rem;
  display: flex;
  align-items: center;
  background-color: var(--red);
  background: linear-gradient(
    135deg,
    var(--red) 0%,
    var(--red) 15%,
    #e07973 25%,
    #e07973 34%,
    var(--red) 74%,
    #e07973 99%
  );
  border-radius: 15px 50px 10px 10px;
  border: 3px solid var(--black);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.726);
  position: relative;
}

.pokedex__screen::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  width: 2px;
  background: linear-gradient(
    135deg,
    var(--red) 0%,
    var(--red) 24%,
    #e07973 89%
  );
  transform: translateY(-50%);
}

.pokedex__screen--sides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -20deg,
    var(--light-gray),
    #b1b1b1,
    var(--light-gray)
  );
  border-radius: 20px;
  border: 3px solid var(--black);
  position: relative;
}

.pokedex__screen--sides span {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background-color: var(--black);
  border-radius: 50%;
  box-shadow: inset -1px 0px 2px 0 rgba(255, 255, 255, 0.823),
    inset 1px 0px 2px 0 rgba(0, 0, 0, 0.5);
}

.pokedex__screen--center {
  margin: -2rem 2rem -2rem 0;
  padding: 0.4rem;
  width: 80%;
  height: 120%;
  border-radius: 20px;
  border: 3px solid var(--black);
  background-color: var(--dark-gray);
}

.pokedex__screen--main {
  /* padding: 1rem; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid var(--black);
  background-color: var(--light-gray);
}

/* hinge */

.pokedex__hinge {
  display: flex;
  justify-content: space-between;
  grid-area: hinge;
  height: 50px;
  width: 100%;
  background: linear-gradient(
    0deg,
    var(--red) 0%,
    var(--red) 36%,
    #f2a5a1 50%,
    var(--red) 67%,
    var(--red) 100%
  );
  border-radius: 8px;
  border: 3px solid var(--black);
  margin: -5px 0 -5px 0;
  z-index: 20;
  position: relative;
}

.pokedex__hinge div {
  border-right: 3px solid var(--black);
}

.pokedex__hinge div:nth-child(1) {
  width: 20%;
}

.pokedex__hinge div:nth-child(2) {
  width: 100%;
}

.pokedex__hinge div:nth-child(3) {
  border-right: none;
  width: 20%;
}

.pokedex__hinge span {
  position: absolute;
  width: 10px;
  height: 20px;
  background: var(--black);
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset -1px -2px 1px 0 rgb(117, 117, 117);
}

/* tactil */

.pokedex__tactil {
  grid-area: tactil;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--red);
  background: linear-gradient(
    to left,
    var(--red) 71%,
    var(--black) 71%,
    var(--black) 71%,
    var(--dark-gray) 72%
  );
  border: 3px solid var(--black);
  border-radius: 200px 0 50px 200px;
  box-shadow: inset 1px 2px 2px 0 rgba(255, 255, 255, 0.823),
    inset -1px -2px 2px 0 rgba(0, 0, 0, 0.588);
  padding: 3rem;
  z-index: 30;
  /* overflow: hidden; */
}

.pokedex__tactil::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgba(228, 90, 82, 1) 0%,
    rgba(111, 111, 111, 1) 0%,
    rgba(182, 182, 182, 1) 25%,
    rgba(158, 158, 158, 1) 34%,
    rgba(228, 90, 82, 1) 74%,
    rgba(255, 255, 255, 1) 99%
  );
  opacity: 0.185;
  border-radius: 200px 0 50px 200px;
}

.pokedex__tactil::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 18px;
  width: 20px;
  border-radius: 0 4px 4px 0;
  border: 3px solid var(--black);
  border-left: none;
  background: linear-gradient(180deg, var(--green) 50%, var(--dark-green) 50%);
  box-shadow: inset 2px 0px 5px 0 rgba(255, 255, 255, 0.779);
}

.pokedex__tactil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--light-gray);
  border: 3px solid var(--black);
  border-radius: 200px 10px 50px 200px;
  box-shadow: inset 2px 2px 5px 0 var(--dark-gray);
  z-index: 30;
}

.pokedex__tactil-container span {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--dark-gray);
  border-radius: 50%;
  box-shadow: inset -1px 0px 2px 0 rgba(255, 255, 255, 0.823),
    inset 1px 0px 2px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.1s;
}

.pokedex__tactil-container span:active {
  background-color: var(--black);
  box-shadow: inset -1px 0px 2px 0 rgba(255, 255, 255, 0.823),
    inset 1px 0px 2px 0 rgba(0, 0, 0, 0.5);
}

.pokedex__tactil-container span:nth-child(1) {
  bottom: 40px;
  right: 18px;
}

.pokedex__tactil-container span:nth-child(2) {
  bottom: 12px;
  right: 18px;
}

.pokedex__tactil-arrows {
  position: relative;
  display: grid;
  place-items: center;
  width: 180px;
  height: 180px;
  margin: auto;
  /* padding: 2rem; */
  border-radius: 50%;
  overflow: hidden;
  /* border: 3px solid var(--black); */
  box-shadow: inset 1px 2px 2px 0 rgba(0, 0, 0, 0.5),
    inset -1px -2px 2px 0 rgba(255, 255, 255, 0.823);
}

.pokedex__tactil-arrows-dpad {
  display: grid;
  grid-template-areas:
    ". up ."
    "left center right"
    ". down .";
  gap: 0;
  position: relative;
}

.pokedex__tactil-arrows-dpad div {
  width: 40px;
  height: 40px;
  align-self: center;
  justify-self: center;
  background: var(--dark-gray);
  cursor: pointer;
  border: 3px solid var(--black);
  transition: background 0.2s;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.47));
}

.pokedex__tactil-arrows-dpad div:nth-child(1) {
  grid-area: up;
  border-radius: 3px 3px 0 0;
  background: radial-gradient(at 50% 70px, var(--gray), var(--black));
  border-bottom: none;
}

.pokedex__tactil-arrows-dpad div:nth-child(1):active {
  background: radial-gradient(at 50% 70px, var(--black), var(--gray));
  border: 3px solid var(--gray);
  border-bottom: none;
}

.pokedex__tactil-arrows-dpad div:nth-child(2) {
  grid-area: left;
  border-radius: 3px 0 0 3px;
  background: radial-gradient(at 170% 20px, var(--gray), var(--black));
  border-right: none;
}

.pokedex__tactil-arrows-dpad div:nth-child(2):active {
  background: radial-gradient(at 170% 20px, var(--black), var(--gray));
  border: 3px solid var(--gray);
  border-right: none;
}

.pokedex__tactil-arrows-dpad div:nth-child(3) {
  grid-area: center;
  border: none;
  background: radial-gradient(var(--black), #504f4d);
}

.pokedex__tactil-arrows-dpad div:nth-child(4) {
  grid-area: right;
  border-radius: 0 3px 3px 0;
  background: radial-gradient(at 25% 20px, var(--gray), var(--black));
  border-left: none;
}

.pokedex__tactil-arrows-dpad div:nth-child(4):active {
  background: radial-gradient(at 25% 20px, var(--black), var(--gray));
  border: 3px solid var(--gray);
  border-left: none;
}

.pokedex__tactil-arrows-dpad div:nth-child(5) {
  grid-area: down;
  border-radius: 0 0 3px 3px;
  background: radial-gradient(at 50% -40px, var(--gray), var(--black));
  border-top: none;
}

.pokedex__tactil-arrows-dpad div:nth-child(5):active {
  background: radial-gradient(at 50% -40px, var(--black), var(--gray));
  border: 3px solid var(--gray);
  border-top: none;
}

.pokedex__tactil-screen-border {
  margin: -4% 8% -4% 0;
  height: 120%;
  width: 300px;
  border-radius: 10px;
  padding: 0.4rem;
  border: 3px solid var(--black);
  background-color: var(--dark-gray);
}

.pokedex__tactil-screen {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid var(--black);
  background-color: var(--light-gray);
}

/* side */

.pokedex__side {
  display: grid;
  place-items: center;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  right: 0px;
  width: 220px;
  height: 240px;
  background: var(--dark-gray);
  z-index: 10;
  transition: right 0.4s ease-in-out;
  border-radius: 0 200px 200px 0;
  border: 3px solid var(--black);
  border-left: none;
}

.pokedex:hover .pokedex__side {
  right: -220px;
}

.pokedex__scan {
  display: grid;
  place-items: center;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 3px solid var(--black);
  background-color: var(--light-gray);
}

.pokedex__scan-inner {
  display: grid;
  place-items: center;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 5px solid var(--black);
  background-color: var(--light-gray);
  position: relative;
}

.pokedex__scan-inner span {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10%;
  right: 5%;
  transform: translateY(-50%);
  background-color: var(--black);
  border-radius: 50%;
  box-shadow: inset -1px 0px 2px 0 rgba(255, 255, 255, 0.823),
    inset 5px 5px 3px 0 rgba(0, 0, 0, 0.5);
}

.pokedex__scan-button {
  width: 100px;
  height: 100px;
  border: 15px solid var(--black);
  box-shadow: inset 1px 0px 0px 4px var(--green);
  border-radius: 50%;
  background: linear-gradient(-30deg, var(--green), #525e4f);
  cursor: pointer;
}

.pokedex__scan-button:active {
  box-shadow: inset 1px 0px 0px 4px var(--dark-green);
  background: linear-gradient(-30deg, #525e4f, var(--green));
}

.pokedex:hover .pokedex__tactil::before {
  background: linear-gradient(180deg, #caffb7 50%, #80d860 50%);
  box-shadow: inset 2px 0px 5px 0 rgba(255, 255, 255, 0.779);
}
