.pokedex__tactil-screen {
  overflow: hidden;
  position: relative;
  background-color: #f8f080;
  padding: 1rem;
}

.pokedex__tactil-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: 120px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 30;
}

.pokedex__tactil-square {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #f8d880;
  padding: 0.7rem;
  box-shadow: inset 1px 1px 2px #f0b060;
}

.pokedex__tactil-square--inner {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #f8f080;
  box-shadow: inset 1px 1px 2px #fff;
}

.pokedex__tactil-buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.pokedex__tactil-buttons .green-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2px 4px;
}

.pokedex__tactil-buttons .green-buttons div {
  display: flex;
  gap: 0.2rem;
  padding: 0.4rem;
  border-radius: 8px;
  background-color: #80d860;
  transition: box-shadow 0.3s;
  box-shadow: inset 0px 3px 0px #609848, inset 0px 5px 0px #fff;
  border: 3px solid #706048;
  border-bottom: 1px solid #706048;
  cursor: pointer;
  /* padding-right: 2rem; */
}

.pokedex__tactil-buttons .green-buttons p {
  position: relative;
  top: 3px;
  font-family: Pokemon Pixel Font Regular;
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 1.5px;
  filter: drop-shadow(1px 1px 1px #000);
}

.pokedex__tactil-buttons .green-buttons div img {
  position: relative;
  top: 4px;
  align-self: flex-end;
  width: 30px;
  height: 30px;
}

.pokedex__tactil-buttons .green-buttons div:active {
  filter: brightness(92%);
  box-shadow: inset 0px 3px 0px #355727, inset 0px 5px 0px #455440;
}

.pokedex__tactil-buttons .big-pokeball {
  position: absolute;
  height: 300px;
  width: 300px;
  top: -20px;
  right: -60%;
  border-radius: 50%;
  transition: transform 0.4s;
  overflow: hidden;
}

.pokedex__tactil-buttons .big-pokeball img {
  height: 300px;
  width: 300px;
}
