.pokedex__screen--main {
  overflow: hidden;
  position: relative;
}

.pokedex__screen--main:before {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: 120px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 30;
}

.pokedex__screen--main .my-pokemons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Header */

.pokedex__screen--main .header {
  display: flex;
  height: 50px;
  width: 100%;
  background: #c8b078;
  border-bottom: 2px solid #505050;
}

.pokedex__screen--main .header h3 {
  position: absolute;
  top: 2px;
  left: 22px;
  background: var(--red);
  font-size: 1.3rem;
  color: #fff;
  -webkit-text-stroke: 0.3px black;
  -webkit-text-fill-color: white;
  padding: 0 2rem;
  border-radius: 12px;
  font-family: Pokemon Pixel Font Regular;
  font-weight: 400;
  letter-spacing: 2px;
}

.pokedex__screen--main .header h3::before {
  content: url("../../assets/icons/pokeball-icon.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  width: 15px;
  height: 15px;
}

.pokedex__screen--main .header h3::after {
  content: url("../../assets/icons/pokeball-icon.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  width: 15px;
  height: 15px;
}

.pokedex__screen--main .header div:nth-child(1) {
  border-right: 2px solid #6e5c33;
  border-bottom: 2px solid #fff;
  width: 85%;
  position: relative;
}

.pokedex__screen--main .header div:nth-child(1) span {
  position: absolute;
  background: #967e44;
  width: 6px;
  height: 6px;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.pokedex__screen--main .header div:nth-child(1) span:nth-child(2) {
  top: 20px;
  left: 4px;
}

.pokedex__screen--main .header div:nth-child(1) span:nth-child(3) {
  top: 20px;
  right: 4px;
}

.pokedex__screen--main .header div:nth-child(2) {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: #d9d6b1;
  width: 15%;
}

/* Footer */

.pokedex__screen--main .footer {
  display: flex;
  height: 70px;
  width: 100%;
  background: #c8b078;
  border-top: 2px solid #505050;
}

.pokedex__screen--main .footer div:nth-child(1) {
  border-right: 2px solid #6e5c33;
  border-top: 2px solid #fff;
  width: 85%;
  position: relative;
}

.pokedex__screen--main .footer div:nth-child(1) span {
  position: absolute;
  background: #967e44;
  width: 6px;
  height: 6px;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.pokedex__screen--main .footer div:nth-child(1) span:nth-child(1) {
  top: 6px;
  left: 4px;
}

.pokedex__screen--main .footer div:nth-child(1) span:nth-child(2) {
  top: 6px;
  right: 4px;
}

.pokedex__screen--main .footer div:nth-child(2) {
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  background: #d9d6b1;
  width: 15%;
}

/* Main */

.main {
  display: flex;
  align-items: center;
  gap: 6;
  background: linear-gradient(#a6a986, #6f7251, #6f7251, #a6a986);
  height: 100%;
  width: 100%;
  position: relative;
}

.pokemon__container {
  align-self: center;
  justify-self: center;
  margin: 0.3rem 0.5rem;
  height: 120px;
  width: 120px;
  border-radius: 8px;
  background-color: #f8f080;
  border: 3px solid #4b5c84;
  display: flex;
}

.pokemon__container .pokemon {
  display: grid;
  place-items: center;
  margin: 0.2rem;
  width: 100%;
  border-radius: 6px;
  border: 3px solid #88a0d0;
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(0deg, rgb(242, 242, 242) 50%, #ffffff 50%);
  background-size: 8px 8px;
}

.pokemon__container .pokemon img {
  height: 100%;
  width: 100%;
}

/* List */

.pokemon__list {
  height: 146px;
  width: 60%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 0.6rem;
  gap: 2px;
  mask-image: linear-gradient(
    0deg,
    transparent 0%,
    rgba(0, 0, 0, 1) 23%,
    rgba(0, 0, 0, 1) 78%,
    transparent 100%
  );
}

.pokemon__list .pokemon__name {
  top: -20px;
  width: 180px;
  background: #f8f080;
  font-size: 1.3rem;
  color: #706666;
  padding: 0.2rem 0 0.2rem 2rem;
  border-radius: 12px 3px 3px 12px;
  font-family: Pokemon Pixel Font Regular;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  white-space: nowrap;
}

.pokemon__list .pokemon__name:nth-child(1) {
  right: 0;
  background: #fecdaf;
}
.pokemon__list .pokemon__name:nth-child(2) {
  right: 5px;
  background: #fdd49f;
}
.pokemon__list .pokemon__name:nth-child(3) {
  right: 10px;
  background: #fbe08f;
}
.pokemon__list .pokemon__name:nth-child(4) {
  right: 15px;
  background: #f8f080;
}
.pokemon__list .pokemon__name:nth-child(5) {
  right: 10px;
  background: #fbe08f;
}
.pokemon__list .pokemon__name:nth-child(6) {
  right: 5px;
  background: #fdd49f;
}
.pokemon__list .pokemon__name:nth-child(7) {
  right: 0;
  background: #fecdaf;
}

.pokemon__list .pokemon__name::before {
  content: url("../../assets/icons/pokeball-icon-color.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  width: 18px;
  height: 18px;
}
