@font-face {
  font-family: "Pokemon";
  src: url("/assets/fonts/Pokemon Solid.ttf");
  font-weight: 400;
  /* font-style: bold; */
}
@font-face {
  font-family: "Pokemon Pixel Font Regular";
  src: url("/assets/fonts/pokemon_pixel_font.eot?") format("eot"),
    url("/assets/fonts/pokemon_pixel_font.woff") format("woff"),
    url("/assets/fonts/pokemon_pixel_font.ttf") format("truetype"),
    url("/assets/fonts/pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");
  font-weight: normal;
  font-style: normal;
}
