.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.main-container .by {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  color: var(--red);
  filter: drop-shadow(1px 1px 0px #000);
  font-family: Pokemon;
}

.main-container .only {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  font-weight: 600;
  color: var(--red);
  filter: drop-shadow(1px 1px 0px #000);
  font-family: Pokemon Pixel Font Regular;
}
