/* You can add global styles to this file, and also import other style files */

@import url(./styles/colors.css);
@import url(./styles/utils.css);
@import url(./styles/fonts.css);

body {
  background: #b1d5a6;
}

.shine-hover {
  position: relative;
}

.shine-hover::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 50%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: pointer;
  z-index: 999;
}

.shine-hover span {
  position: absolute;
  top: 28px;
  right: 0px;
  width: 30px;
  height: 30px;
  opacity: 0.6;
  transform: scale(0);
  /* transform-origin: 50% 50%; */
  z-index: 999;
}

.shine-hover:hover span {
  animation: shineDot 1s 0s forwards;
}

.shine-hover span img {
  width: 30px;
  height: 30px;
  margin: 0 !important;
}

.shine-hover:hover:after {
  opacity: 1;
  top: -60%;
  left: 0%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

@keyframes slide {
  0% {
    left: -100;
    top: 0;
  }
  10% {
    left: 360px;
    top: 0;
  }
  11% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shineDot {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
